I want to know if we have access to user partisanship for each topic.

In [2]:
import pandas as pd

In [2]:
# check note_info file

note_info = pd.read_parquet('aux_note_info.parquet', engine='auto')

In [3]:
len(note_info)

1946619

In [4]:
note_info.columns

Index(['noteId', 'ratingWeight', 'createdAtMillis', 'noteAuthorParticipantId',
       'awaitingBool', 'numRatingsLast28', 'currentStatus', 'crhBool',
       'crnhBool', 'unlockedRatingStatus', 'helpfulOther',
       'helpfulInformative', 'helpfulClear', 'helpfulEmpathetic',
       'helpfulGoodSources', 'helpfulUniqueContext', 'helpfulAddressesClaim',
       'helpfulImportantContext', 'helpfulUnbiasedLanguage', 'notHelpfulOther',
       'notHelpfulIncorrect', 'notHelpfulSourcesMissingOrUnreliable',
       'notHelpfulOpinionSpeculationOrBias', 'notHelpfulMissingKeyPoints',
       'notHelpfulOutdated', 'notHelpfulHardToUnderstand',
       'notHelpfulArgumentativeOrBiased', 'notHelpfulOffTopic',
       'notHelpfulSpamHarassmentOrAbuse', 'notHelpfulIrrelevantSources',
       'notHelpfulOpinionSpeculation', 'notHelpfulNoteNotNeeded',
       'notHelpfulOtherAdjusted', 'notHelpfulIncorrectAdjusted',
       'notHelpfulSourcesMissingOrUnreliableAdjusted',
       'notHelpfulOpinionSpeculationOrBiasAdjusted',
       'notHelpfulMissingKeyPointsAdjusted', 'notHelpfulOutdatedAdjusted',
       'notHelpfulHardToUnderstandAdjusted',
       'notHelpfulArgumentativeOrBiasedAdjusted', 'notHelpfulOffTopicAdjusted',
       'notHelpfulSpamHarassmentOrAbuseAdjusted',
       'notHelpfulIrrelevantSourcesAdjusted',
       'notHelpfulOpinionSpeculationAdjusted',
       'notHelpfulNoteNotNeededAdjusted', 'notHelpfulOtherAdjustedRatio',
       'notHelpfulIncorrectAdjustedRatio',
       'notHelpfulSourcesMissingOrUnreliableAdjustedRatio',
       'notHelpfulOpinionSpeculationOrBiasAdjustedRatio',
       'notHelpfulMissingKeyPointsAdjustedRatio',
       'notHelpfulOutdatedAdjustedRatio',
       'notHelpfulHardToUnderstandAdjustedRatio',
       'notHelpfulArgumentativeOrBiasedAdjustedRatio',
       'notHelpfulOffTopicAdjustedRatio',
       'notHelpfulSpamHarassmentOrAbuseAdjustedRatio',
       'notHelpfulIrrelevantSourcesAdjustedRatio',
       'notHelpfulOpinionSpeculationAdjustedRatio',
       'notHelpfulNoteNotNeededAdjustedRatio', 'notHelpfulIncorrect_interval',
       'p_incorrect_user_interval', 'num_voters_interval',
       'tf_idf_incorrect_interval', 'lowDiligenceIntercept'],
      dtype='object')

In [5]:
# check helpfulness scores

h_scores = pd.read_parquet('helpfulness_scores.parquet', engine='auto')

In [6]:
h_scores.columns

Index(['raterParticipantId', 'coreRaterIntercept', 'coreRaterFactor1',
       'crhCrnhRatioDifference', 'meanNoteScore', 'raterAgreeRatio',
       'successfulRatingHelpfulCount', 'successfulRatingNotHelpfulCount',
       'successfulRatingTotal', 'unsuccessfulRatingHelpfulCount',
       'unsuccessfulRatingNotHelpfulCount', 'unsuccessfulRatingTotal',
       'ratingsAwaitingMoreRatings', 'ratedAfterDecision',
       'notesCurrentlyRatedHelpful', 'notesCurrentlyRatedNotHelpful',
       'notesAwaitingMoreRatings', 'enrollmentState',
       'successfulRatingNeededToEarnIn', 'authorTopNotHelpfulTagValues',
       'timestampOfLastStateChange', 'aboveHelpfulnessThreshold',
       'isEmergingWriter', 'aggregateRatingReceivedTotal',
       'timestampOfLastEarnOut', 'groupRaterIntercept', 'groupRaterFactor1',
       'modelingGroup', 'raterHelpfulnessReputation', 'numberOfTimesEarnedOut',
       'expansionRaterIntercept', 'expansionRaterFactor1',
       'expansionPlusRaterIntercept', 'expansionPlusRaterFactor1',
       'multiGroupRaterIntercept', 'multiGroupRaterFactor1',
       'modelingMultiGroup'],
      dtype='object')

## Monthly count of unique raters

In [6]:
# prepare for load and keeping aggregated data
chunk_size = 1000000
# this will hold the cumulative grouped result
monthly_count = pd.DataFrame(columns=['year', 'month', 'unique_id_count'])

In [9]:
# load rating file in chunks
# there are 20 rating files, some ~2.5 GB. Since I can only keep them one at a time I
# change the file name one by one
rating_file = 'ratings/ratings-00001.tsv'
with pd.read_csv(rating_file, sep='\t', chunksize=chunk_size) as reader:
    for chunk in reader:
        
        # add needed columns to this chunk
        chunk['createdAt'] = pd.to_datetime(chunk['createdAtMillis'], unit='ms')
        chunk['year'] = chunk['createdAt'].dt.year
        chunk['month'] = chunk['createdAt'].dt.month
        grouped = chunk.groupby(['year', 'month'])['raterParticipantId'].nunique().reset_index(name='unique_id_count')
        # merge with the running monthly_count
        monthly_count = pd.merge(
            monthly_count, grouped,
            on=['year', 'month'], how='outer', suffixes=('', '_new')
        )

        # sum counts (fillna for missing)
        monthly_count['unique_id_count'] = (
            monthly_count['unique_id_count'].fillna(0)
            + monthly_count['unique_id_count_new'].fillna(0)
        )

        # drop the temporary column
        monthly_count = monthly_count.drop(columns=['unique_id_count_new'])

In [10]:
monthly_count

    year  month  unique_id_count
0   2021      1             52.0
1   2021      2            125.0
2   2021      3            128.0
3   2021      4            110.0
4   2021      5            115.0
5   2021      6            356.0
6   2021      7            342.0
7   2021      8            457.0
8   2021      9            711.0
9   2021     10            741.0
10  2021     11            741.0
11  2021     12            636.0
12  2022      1            541.0
13  2022      2            463.0
14  2022      3            542.0
15  2022      4            762.0
16  2022      5            887.0
17  2022      6           1037.0
18  2022      7           1062.0
19  2022      8           1114.0
20  2022      9            913.0
21  2022     10           3861.0
22  2022     11           8632.0
23  2022     12          15334.0
24  2023      1          15323.0
25  2023      2          13766.0
26  2023      3          20125.0
27  2023      4          25765.0
28  2023      5          37872.0
29  2023      6          34331.0
30  2023      7          46621.0
31  2023      8          64284.0
32  2023      9          48092.0
33  2023     10          65324.0
34  2023     11          73479.0
35  2023     12          78466.0
36  2024      1          80125.0
37  2024      2          71851.0
38  2024      3          78273.0
39  2024      4          77515.0
40  2024      5          83254.0
41  2024      6          83657.0
42  2024      7          91594.0
43  2024      8          93637.0
44  2024      9          81750.0
45  2024     10          91471.0
46  2024     11          96134.0
47  2024     12          94720.0
48  2025      1         102901.0
49  2025      2          93510.0
50  2025      3          89967.0
51  2025      4          76322.0
52  2025      5          73650.0
53  2025      6          79193.0
54  2025      7          76189.0
55  2025      8          58584.0